.main {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  margin-top: 10vh;
}

.h1 {
  color: black;
  font-size: 65px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h2 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.google {
  background-color: white;
  border-color: gray;
  border-width: 0.3px;
  border-radius: 25px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:lighter;
  height: 38px;
  width: 300px;
  cursor: pointer;
}

.apple {
  background-color: white;
  border-color: gray;
  border-width: 0.3px;
  border-radius: 25px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bold;
  height: 38px;
  width: 300px;
  cursor: pointer;
  margin-top: 10px;
}

.create {
  background-color: rgb(21, 161, 242);
  border: none;
  border-radius: 25px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  height: 38px;
  width: 300px;
  cursor: pointer;
}

.signin {
  background-color: white;
  border-color: rgb(21, 161, 242);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(21, 161, 242);
  height: 38px;
  width: 300px;
  cursor: pointer;
}

.or {
  color: black;
  font-size: medium;
  margin-left: 10px;
}

.terms {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
}

.terms1 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
}

.h3 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
